<!DOCTYPE html>
<html>

<head>
    <title>Edit Election</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="headercontent">
        <!-- Placeholder Image -->
        <img src="images/placeholder.png" height="100px" width="100px">
        <div class="text">
            <!-- Placeholders Name and Year -->
            <h1>SocietyName PlaceHolder</h1>
            <h2>Election 2022</h2>
        </div>
        <!-- Logout button does nothing right now, must log out of user -->
        <button type="button" class="buttonPosition">Log Out</button>
    </div>

    <!-- Menu leads nowhere -->
    <ul class="menu">
        <li id="menuobject"><a href="#E">Election</a></li>
        <li id="menuobject"><a href="#P">Positions</a></li>
        <li id="menuobject"><a href="#Q">Questions</a></li>
        <li id="menuobject"><a href="#C">Candidates</a></li>
        <li id="menuobject"><a href="#R">Reporting</a></li>
    </ul>

    <div class="admin_actionButton">
        <!-- Buttons do nothing -->
        <button type="button">Create New Election</button>
        <button type="button">Edit New Election</button>
        <button type="button">Delete Election</button>
    </div>

    <!-- This does nothing yet -->
    <div class="box">
        <h2>Questions</h2>
        <h3 class="innerbox">Selected Questions</h3>
        <form class="innerbox" action="/form/submit" method="post">
            <div class="logincontainer">
                <label class="labelstyle" for="title">Title:</label>
                <input type="text" id="title" />
            </div>
            <div class="logincontainer">
                <label class="labelstyle" for="startDate">Start Date:</label>
                <input type="text" id="startDate" />
            </div>
            <div class="logincontainer">
                <label class="labelstyle" for="endDate">End Date:</label>
                <input type="text" id="endDate" />
            </div>
            <input type="submit" value="SAVE" />
        </form>

    </div>

</body>

</html>