<!DOCTYPE html>
<html>
<head>
    <title>You Already Voted!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="headercontent">
        <!-- Placeholder Image -->
        <img src="images/placeholder.png" height="100px" width="100px">
        <div class="text">
            <!-- Placeholders Name and Year -->
            <h1>SocietyName PlaceHolder</h1>
            <h2>Election 2022</h2>
        </div>
        <!-- Logout button does nothing right now, must log out of user -->
        <button type="button" class="buttonPosition">Log Out</button>
    </div>

    <div class="box">
        <h1>Ballot Submitted</h1>
        <!-- Placeholder Voting Info -->
        <h3>Vote submitted on [DATE AND TIME] </h3>
        <p>Add any other information here</p>
        <!-- Button in wireframe, maybe could be another logout button? -->
        <button type="button" onclick="alert('The pain continues...')">Log Out</button>
    </div>

</body>

</html>